TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=nvypkhaniuk.coo@vau.agency
SMTP_PASS=
SMTP_FROM=nvypkhaniuk.coo@vau.agency
